<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtu.gymforbeginners">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorkoutActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExcerciseActivity"
            android:label="@string/title_activity_excercise"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".AddWorkoutActivity"
            android:label="@string/title_activity_add_workout"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utils.CategoryExActivity"
            android:label="@string/title_activity_category_ex"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExcerciseListActivity"
            android:label="@string/title_activity_excercise_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>